body {
  margin-top: 90px;
}
body > .container {
  background: #fff;
}
.navbar-wrapper {
  background: #eceeed;
  box-shadow: 0 0 5px #666;
}

/* layout */
.table-layout th.header {
    background: #39B3D7 !important;
    border-color: #39B3D7 !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 0 !important;
    color: #fff;
}
