/* BLOCKS */
body {
    margin-top: 0px;
}
#block_1 {
    background-color: #650923;
    height:30px;
}

#block_1 section { margin: 0px }

#block_2 {
    background-color: #A2163F;
    height:82px;
}

#block_3 {
    background-color: #fff;
}

#block_4 {
    background-color: #bb3f63;
    height:40px;
}

#block_2 div#site_header, #block_4 div#site_footer { margin: 0px auto; width:960px; }
