
body{
	font-family: Arial,sans-serif;
	font-size: 10px;
}

nav { display: none; }

div.container {
    float: none;
    margin: 0px;
    overflow: auto;
    padding: 0;
    width: 100%;
}

p.title {font-size:14px; text-align:left; font-weight:bold;}
p.subtitle {font-size:12px; text-align:left; font-weight:bold;}
div.little {font-size:6px;}
div.longtext {font-size:10px;}
