@charset "utf-8";

body
{
	color: black;
	background: white;
	font-size: 14px;
	text-align: center;
}
a:link, a:visited
{
	background: white;
	color: black;
	text-decoration: underline;
	font-weight: bold;
}
img
{
	display: inline;
	border: 0px;
	vertical-align: bottom;
}
#container
{
	text-align: left;
	width: 650px;
	margin: 0px 2px 0px 0px;
	text-align: left;
	background-color: white;
}
#header, #footer
{
	display: none;
}
.area
{
	position: relative;
	display: block;
	width: 642px;
	/*width: 100%;*/
	/*text-align: justify;*/
	margin: 5px;
	padding: 5px;
	color: black;
}
.area_title
{
	/*display: block;*/
	text-align: left;
	font-size: 18px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	background-color: white;
	padding: 5px;
	margin-bottom: 8px;
	border: 1px solid #000000;
}
.area_subtitle
{
	text-align: left;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	border-bottom: 1px #000000 solid;
	padding-bottom: 2px;
	margin-bottom: 8px;
}
.print-only
{
	display: block;
	font-size: 12px;
	border-bottom: 1px solid gray;
}
.no-print
{
	display: none;
}