/* CSS per l'ordinamento delle tabelle */
.sortTable{
    width:100%;
    margin:20px 0;
    border-collapse:collapse;
    color:#3F3F3F;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
}
.focusedColumn{
    background-color:#F4F4F4;
}
.zebra .focusedColumn{
    background-color:#E4E4E4;
}

.downArrow{
    background:url('../img/sort_down_arrow.jpg') no-repeat;
    text-indent:15px;
    background-position: 5px 5px;
}
.upArrow{
    background:url('../img/sort_up_arrow.jpg') no-repeat;
    text-indent:15px;
    background-position: 5px 5px;

}
.SortTableHeader{
	background:url('../img/sort_bg-panel-header.gif');
	border-top: 1px solid #999;
}
.sortTable tr:hover{
    background:#F2EDED;
}
.sortTable tr.SortTableHeader:hover{
    background:url('../img/sort_bg-panel-header.gif');
}
.sortTable th{
    font-size:115%;
    text-align:left;
    vertical-align: middle;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    height:25px;
    margin: 10px 0 10px 0;
    padding:0 5px 0 7px;
    cursor:pointer;
}
.sortTable th:first-child{
    border-left: 1px solid #999;
    border-left: 0;
}

.sortTable tr:hover td.focusedColumn{
    background:#F2EDED;
}
.sortTable td{
    padding:0 10px 0 5px;
    height:30px;
    border-bottom: 1px solid #999;
}
.sortTable .Right{
    text-align:right;
}
.TableSorterFloatLeft{
    float:left;
}