
@claim-h1-color: #fff;
@claim-p-color: #eee;
@claim-btn-bkg: #cd3200;
@claim-btn-color: #fff;

// Import the fonts
@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype'),
		url('../fonts/roboto-slab/RobotoSlab-Light.ttf') format('truetype'),
		url('../fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype'),
		url('../fonts/roboto-slab/RobotoSlab-Thin.ttf') format('truetype')
}

body {
	margin-top: 50px !important;
}

.bg-white {
	background-color: #fff;
}

/* Video */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
 	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* Claim */
.section-claim {
	background: transparent url('../graphics/bkg_head.jpg') no-repeat center center;
	background-size: cover;
	color: @claim-p-color;
	// height: 100%;
	position: relative;
	border-bottom: 1px solid #fff;

	h1 {
		color: @claim-h1-color;
		font-size: 35px;
		
		@media(min-width: @screen-sm){
			font-size: 45px;
		}

		@media(min-width: @screen-md){
			font-size: 48px;
		}

		@media(min-width: @screen-lg){
			font-size: 50px;
		}
	}

	img {
		width: 280px;

		@media(min-width: @screen-sm){
			width: 320px;
		}

		@media(min-width: @screen-md){
			width: 320px;
		}

		@media(min-width: @screen-lg){
			width: 320px;
		}
	}

	.btn-claim {
		background: @claim-btn-bkg;
		color: @claim-btn-color;
		font-size: 20px;
		margin-bottom: 60px;
		margin-top: 10px;
	}

	.scrolltofirst {
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;

		i {
			cursor: pointer;
		}
	}
}
