
// Import the fonts
@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype'),
		url('../fonts/roboto-slab/RobotoSlab-Light.ttf') format('truetype'),
		url('../fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype'),
		url('../fonts/roboto-slab/RobotoSlab-Thin.ttf') format('truetype')
}

body {
	margin-top: 90px;
}

.bg-white {
	background-color: #fff;
}

/* Video */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
 	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
