
form.myform {
	max-width: 500px;
}

.form-trnsl {
	padding: 4px 0px;
}
.form-ckeditor {
	
}
.form-ckeditor .notes {
	padding-left: 15px;
}
.form-textadd {
	display: inline-block;
}
.form-addrelated {
	display: inline;
	vertical-align: middle;
}
.form-multicheck {
	max-height: 250px;
	table {
		margin-bottom: 0;
	}
}

label.req, legend.req {
  font-weight: bold;
}

/* Inline Form */
form.form-inline {
	.form-control, .form-check {
		margin-left: 4px;
		margin-right: 4px;
	}
	button {
		margin-left: 2px;
		margin-right: 2px;
	}
	.link-tag-cloud {
		margin-left: 2px;
		margin-right: 4px;
	}
}

/* Footnote */
.footnote {
	margin-bottom: 2px;
}
.footnote .annotations {
	margin-top: 4px;
	margin-bottom: 4px;
}
