
/* menu */
.navbar-toggle {
	
}
.navbar-toggle .icon-bar {
	
}
@media (max-width: @screen-sm-min) {
	.navbar-collapse {
		width: 100%;
	}
}

/* login */
.navbar-login {
	float: left;
	margin-top: 15px;
}
.navbar-login a {
	color: #9d9d9d;
	text-decoration: none;
	padding: 0px 4px;
}
.navbar-login a:hover,
.navbar-login a:focus {
	text-decoration: none;
	color: #fff;
}

/* language */
.navbar-language {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
}

/* search */
.navbar-search {
	float: left;
	position: relative;
	color: #fff;
	margin-left: 10;
	margin-right: 10px;
	margin-top: 15px;
}

@media (max-width: @screen-sm-min) {
    .navbar-login {
		display: none;
	}
    .navbar-language {
    	display: none;
    	margin-top: 0px;
    }
    .navbar-search {
    	position: absolute;
    	top: 2px;
    	left: 160px;
    }
}
