table.viewConf {
	width:100%;
}
table.viewConf td.confLabel_tooltipfull{
	background-color:#cdcdcd;
	color:#000;
	border:1px solid #999;
	padding: 4px;
	font-weight: bold;
}
table.viewConf td.confValue{
	background-color:#fff;
	color:#000;
	border:1px solid #ccc;
	padding: 4px;
}
