
/* Hidden apps */
#hidelist {
	margin-top: 4px;
}
#hidelist ul {
	list-style-type: none;
}

/* Administration Page */
.admin-home a:link, .admin-home a:hover, .admin-home a:focus, .admin-home a:visited {
	color: #fff;
}
