
/* Results */
.search-results .search-item {
	margin: 10px 0px;
}
.search-results .search_text {
	
}
.search-results .search_title {
	
}

/* form di ricerca allineato al container navbar-search */
#fulltextsearch {
	position: absolute;
	top: 36px;
	right: 0;
	color: #000;
	background-color: rgba(0, 0, 0, 0.4);
	min-width: 290px;
}

@media screen and (max-width: 768px) {
	/* form di ricerca distribuito lungo l'intera lunghezza */
	#fulltextsearch {
		position: fixed;
		left: 0;
		top: 76px;
	}
}

.searchsite-form {
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	padding: 4px;
}

#search_site_check {
    background: url('img/check_bkg.png') no-repeat top left;
    height: 25px;
    margin-left: 0;
}

#search_site_check_options {
    position: absolute;
    top: 44px;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0 10px;
    border: 0;
    text-align: left;
    min-width: 290px;
}
@media screen and (max-width: 768px) {
	#search_site_check_options {
    	top: 58px;
	}
}
#search_site_check_options p.heading {
	size: 18px;
	margin-top: 8px;
}
/* overwrite bootstrap */
#search_site_check_options label {
    width: auto;
    font-weight: normal;
}
