#search_site_form {
  position: relative;
}
#search_site {
	background: url('img/field_bkg.jpg') repeat-x top left;
	height: 20px;
}
#search_site_submit {
	background: url('img/submit_bkg.png') no-repeat top left;
	border-width: 0px;
	width: 25px;
	height: 25px;
  margin-left: 10px;
	cursor: pointer;
}

#search_site_check {
	background: url('img/check_bkg.png') no-repeat top left;
	border-width: 0px;
	width: 25px;
	height: 25px;
  margin-right: 10px;
	cursor: pointer;
}

#search_site_check_options {
	background-color: #fefefe;
	padding: 0 10px;
	border:1px solid #f1f1f1;
	width: 280px;
	height:100px;
}
