.searchsite-form {
  position: relative;
}
.searchsite-form input[type=text] {
    width: 160px;
}
.searchsite-form input[type=submit], .searchsite-form input[type=button] {
    border-width: 0px;
    border-radius: 0;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    box-shadow: 0 0 0;
    text-shadow: 0 0 0;
    cursor: pointer;
}
.searchsite-form input[type=submit] {
    background: url('img/submit_bkg.png') no-repeat top left;
}

#search_site_check {
    background: url('img/check_bkg.png') no-repeat top left;
    height: 25px;
    margin-left: 0;
}

#search_site_check_options {
	background-color: #fefefe;
	padding: 0 10px;
	border:1px solid #f1f1f1;
	width: 280px;
	height:100px;
}
#search_site_check_options label {
    width: auto;
}
