#menu_mainMenu ul {
  padding: 0;
  margin: 0;
}
#menu_mainMenu li {
  list-style-type: none;
  float: left;
  position: relative;
  padding: 0 20px;
  background: #aaa;
}
#menu_mainMenu ul ul {
  background: #eee;
  position: absolute;
  display: none;
  top: 20px;
  left: 0;
  width: 200px;
}
#menu_mainMenu li:hover > ul {
  display: block;
}
#menu_mainMenu ul ul li {
  float: none;
}
#menu_mainMenu .selected {
  background: #fff;
}

/* backoffice */
.menu-admin ul {
  margin-top: 15px;
}
.sort_handler {
  cursor: move !important;
}
