/* Root = Horizontal, Secondary = Vertical */
nav#menu_menu_admin ul.mainmenu {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: auto; /*For KHTML*/
  list-style: none;
  height: 33px;
  background: url('img/bkg_menu.gif') repeat-x top left;
}
nav#menu_menu_admin li.withSelected {
	border:1px solid #000;
}
nav#menu_menu_admin ul.mainmenu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 33px;
  text-align:center;
}
nav#menu_menu_admin ul.mainmenu li.withChildren {
  background-color: #fff;
}
/* SUBMENUS */

nav#menu_menu_admin ul.mainmenu ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: auto;
  list-style: none;
  display: none;
  position: absolute;
  top: 33px;
  left: 0;
	z-index:10000000;
	width: 260px;
	background: #666;
	border-top:1px solid #fff;
}

nav#menu_menu_admin ul.mainmenu ul {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

nav#menu_menu_admin ul.mainmenu ul li a {
	border-width: 0px;
}

nav#menu_menu_admin ul.mainmenu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

nav#menu_menu_admin ul.mainmenu ul li {
  width: 260px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
  text-align:left;
  z-index:10;
}

/* Root Menu */
nav#menu_menu_admin ul.mainmenu a {
  border-right: 1px solid #FFF;
  padding: 0 25px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 33px;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

nav#menu_menu_admin ul.mainmenu a.withChildrenH {
  border-right: 1px solid #FFF;
  padding: 0 25px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 33px;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}


nav#menu_menu_admin ul.mainmenu a.withChildrenV {
  border-right: 1px solid #FFF;
  padding: 0 25px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 33px;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

nav#menu_menu_admin ul.mainmenu a.withSelected {
  color: #fff;
}

/* Root Menu Hover Persistence */
nav#menu_menu_admin ul.mainmenu a:hover {
  background-color: #850c2e;
  color: #fff;
}

/* 2nd Menu */
nav#menu_menu_admin ul.mainmenu li:hover li a,
nav#menu_menu_admin ul.mainmenu li.iehover li a {
  float: none;
}

nav#menu_menu_admin ul.mainmenu ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
nav#menu_menu_admin ul.mainmenu li:hover ul ul,
nav#menu_menu_admin ul.mainmenu li.iehover ul ul {
  display: none;
}

nav#menu_menu_admin ul.mainmenu li:hover ul,
nav#menu_menu_admin ul.mainmenu ul li:hover ul {
  display: block;
}

nav#menu_menu_admin ul.mainmenu li.iehover ul,
nav#menu_menu_admin ul.mainmenu ul li.iehover ul {
  display: block;
}

nav#menu_menu_admin li.persistHover,
nav#menu_menu_admin a.persistHover
{
	background: #c13d3b;
	color: #fff;
}


nav#menu_menu_admin span.moreV {
	width: 13px;
	text-align: center;
	line-height: 10px;
	padding-left: 3px;
	background: #4e94ca;
	color: white;
	font-size: 12px;
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
}

nav#menu_menu_admin span.moreH {
	width: 13px;
	text-align: center;
	line-height: 10px;
	padding-left: 3px;
	font-size: 12px;
	position: absolute;
	left: 1px;
	top: 7px;
	bottom: 1px;
}

nav#menu_menu_admin div.pathToSelVoice {
	margin: 5px 0px 5px 0px;
}
