.language-choice {
    margin: 0;
    padding: 0;
}
.language-choice ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.language-choice ul li {
    list-style-type: none;
    display: inline-block;
}
.language-choice a:link, .language-choice a:visited {
	color: #999999;
}
.language-choice a:hover {
	color: #FFF;
}
.language-choice .active {
    cursor: auto;
    color: #FFF !important;
    text-decoration: none !important;
}
.language-choice .active img {
    border: 2px solid #000;
}
